<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to 热污染<%= title %></p>
    <div><%= str %> werwe</div>
    <h3>
      欢迎管理员
      <span id="name1" class="name1"><%=title%></span>
      登录系统
    </h3>
    <input id="name" type="text" name="name" value="x">
    <button class="btn btn-default">修改</button>
    <script src="js/jquery-1.12.4.js"></script>
    <script>
        $(function(){
            $('.btn').click(function(){
                console.log($('#name1').html());
                $.ajax({
                    type:'GET',
                    url: '/admin',
                    data:'name='+$('#name').val()+'&name2='+$('#name1').html(),
                    success:function(msg){
                      console.log(msg);
                    },
                    error:function(){
                        console.log('error')
                    }
                })
            })
        });
    </script>
  </body>
</html>
